<template>
  <v-theme-provider>
    <base-section id="contact-us" class="primary" space="40">
      <v-container>
        <v-row no-gutters>
          <base-title
            title="For further Information About Lassana Service including Coffe and Fresh Bakery"
          />
        </v-row>
        <v-row no-gutters>
          <v-btn
            :block="$vuetify.breakpoint.smAndDown"
            depressed
            color="yellow"
            href="mailto:fakeemail.com"
            x-large
            target="_blank"
            class="white--text font-weight-bold"
            size="24px"
          >
            Contact Us
          </v-btn>
        </v-row>
      </v-container>
    </base-section>
  </v-theme-provider>
</template>

<script>
export default {
  name: "SectionContactUs",
};
</script>
