<template>
  <section id="features">
    <v-row justify-space-between no-gutters>
      <v-col sm-12 md-4 v-for="item in features" :key="item">
        <v-card
          rounded
          class="my-xs-auto"
          style="position: relative"
          max-width="300px"
          height="350px"
        >
          <v-img
            height="100%"
            src="https://cdn.pixabay.com/photo/2020/07/12/07/47/bee-5396362_1280.jpg"
          />
          <v-btn
            rounded
            class="text-capitalize text-md-h2 white--text font-weight-bold text-left"
            style="
              font-size: 30px;
              position: absolute;
              bottom: -10%;
              left: 60%;
              height: 60%;
              width: 55%;
              background-color: green;
              word-break: break-all;
            "
          >
          Our </br>
            {{ item }}
          </v-btn>
        </v-card>
      </v-col>
    </v-row>
  </section>
</template>

<script>
export default {
  name: "SectionFeatures",
  data: () => ({
    features: ["Coffe", "Pastry", "Food"],
  }),
};
</script>