<template>
  <section id="hero">
    <v-img
      :min-height="minHeight"
      :src="require('@/assets/home_hero.png')"
      class="black--text"
    >
      <v-container class="fill-height px-4 py-12">
        <v-responsive
          class="d-flex align-center"
          height="100%"
          max-width="700"
          width="60%"
        >
          <base-heading title="Lassana Delights Your Daily Coffe Experience" />

          <base-body size="24px" class="my-12 text-xs-h6" wieght="300">
            Lassana is a Hong Kong local brand that specialize in coffer and
            fresh bakery. We are here to provide excellent food excellent food
            service that inspire you everyday
          </base-body>
        </v-responsive>
      </v-container>
    </v-img>
  </section>
</template>

<script>
export default {
  name: "SectionHero",

  provide: {
    theme: { isDark: true },
  },

  computed: {
    minHeight() {
      const height = this.$vuetify.breakpoint.mdAndUp ? "100vh" : "50vh";

      return `calc(${height} - ${this.$vuetify.application.top}px)`;
    },
  },
};
</script>
