<template>
  <base-section id="coffe-banner">
    <v-img
      :min-height="minHeight"
      :src="require('@/assets/coffe_banner.jpg')"
      class="black--text"
    >
    </v-img>
  </base-section>
</template>

<script>
export default {
  name: "SectionThemeFeatures",
};
</script>
