<template>
  <v-footer id="home-footer" color="grey darken-4" dark min-height="72">
    <v-container>
      <v-row>
        <v-col cols="12" md="6">
          <base-title
            class="d-flex flex-wrap justify-md-start justify-center justify-md-none"
            title="Want To know Lassana Better?"
            spacing="-.015625em"
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <div
            class="d-flex flex-wrap justify-md-start justify-center justify-md-none"
          >
            <template v-for="(s, i) in social">
              <a
                :key="s.name"
                class="white--text pa-1 pa-md-0"
                href="#"
                v-text="s.name"
              />
              <i :key="s.icon" :class="s.icon" class="mx-2"></i>
              <v-responsive
                v-if="i < social.length - 1"
                :key="`divider-${s.name}`"
                class="mx-4 shrink hidden-sm-and-down"
                max-height="24"
              >
                <v-divider vertical />
              </v-responsive>
            </template>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="6">
          <p
            class="d-flex flex-wrap justify-md-start justify-center justify-md-none"
            spacing="-.015625em"
          />
          Customer Service: 6393 0906
          </p>
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col class="text-center font-weight-bold" cols="12" md="6">
          &copy; 2020 by LASSANA Limited
        </v-col>
      </v-row>
    </v-container>
  </v-footer>
</template>

<script>
export default {
  name: "HomeFooter",

  data: () => ({
    social: [
      { name: "Facebook", icon: "fa fa-facebook fa-2x" },
      { name: "Instagram", icon: "fa fa-instagram fa-2x" },
    ],
  }),
};
</script>

<style lang="sass">
#home-footer a
  text-decoration: none
</style>
